---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/droplets?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"42607d580051ac13fc81210345429e43"'
    body:
      encoding: UTF-8
      string: '{"status":"OK","droplets":[{"id":109910,"name":"parentplace.co.uk","image_id":25489,"size_id":66,"region_id":2,"backups_active":null,"ip_address":"198.211.124.212","status":"active"}]}'
  recorded_at: Thu, 28 Mar 2013 08:22:15 GMT
recorded_with: VCR 2.4.0
