---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/droplets/0?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"966766364c5bfaed449523bcb537629a"'
    body:
      encoding: UTF-8
      string: '{"status":"ERROR","error_message":"No Droplets Found"}'
  recorded_at: Mon, 29 Apr 2013 23:11:02 GMT
recorded_with: VCR 2.4.0
