---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/regions/0?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"62871641d7b237c367b60f415e364158"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"ERROR","error_message":"No Region Found"}'
  recorded_at: Wed, 13 Mar 2013 12:15:54 GMT
recorded_with: VCR 2.4.0
