---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/ssh_keys?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"4d6514594b37b691cc3205224865cf87"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","ssh_keys":[{"id":6484,"name":"darrin@exempla.co.uk"}]}'
  recorded_at: Tue, 12 Mar 2013 09:57:44 GMT
recorded_with: VCR 2.4.0
