---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/ssh_keys/0?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"0875697aacb1d5282a7eaa16a330f29e"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"ERROR","error_message":"No SSH Key Found"}'
  recorded_at: Wed, 13 Mar 2013 12:15:48 GMT
recorded_with: VCR 2.4.0
