---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/sizes?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"e76667b92aac8cb53c089195902c9d37"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","sizes":[{"id":66,"name":"512MB"},{"id":63,"name":"1GB"},{"id":62,"name":"2GB"},{"id":64,"name":"4GB"},{"id":65,"name":"8GB"},{"id":61,"name":"16GB"},{"id":60,"name":"32GB"},{"id":70,"name":"48GB"},{"id":69,"name":"64GB"},{"id":68,"name":"96GB"}]}'
  recorded_at: Wed, 13 Mar 2013 11:06:44 GMT
- request:
    method: get
    uri: https://api.digitalocean.com/sizes/66?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"a63e1150108dfe045db0f43b6c3bbaa8"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","size":{"cost_per_hour":0.00744,"cpu":1,"disk":20,"id":66,"memory":512,"name":"512MB"}}'
  recorded_at: Wed, 13 Mar 2013 11:06:44 GMT
[...]
- request:
    method: get
    uri: https://api.digitalocean.com/sizes/68?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"66f71ff04ffc61fa6d10fbe4b610e985"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","size":{"cost_per_hour":1.42857,"cpu":24,"disk":960,"id":68,"memory":94208,"name":"96GB"}}'
  recorded_at: Wed, 13 Mar 2013 11:06:51 GMT
recorded_with: VCR 2.4.0
