---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/sizes/0?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"a8692ea51a7ca8869222d295a1229ca7"'
    body:
      encoding: UTF-8
      string: '{"status":"ERROR","error_message":"No Size Found"}'
  recorded_at: Thu, 28 Mar 2013 08:23:44 GMT
recorded_with: VCR 2.4.0
