---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/images?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"7589fcbe5a1fcb30d879fc6706a468d6"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","images":[{"id":109578,"name":"test","distribution":"Ubuntu"},{"id":1601,"name":"CentOS
        5.8 x64","distribution":"CentOS"},{"id":1602,"name":"CentOS 5.8 x32","distribution":"CentOS"},{"id":1605,"name":"CentOS
        6.0 x32","distribution":"CentOS"},{"id":1606,"name":"Fedora 15 x64","distribution":"Fedora"},{"id":1609,"name":"Ubuntu
        11.10 x32 Server","distribution":"Ubuntu"},{"id":1611,"name":"CentOS 6.2 x64","distribution":"CentOS"},{"id":1615,"name":"Fedora
        16 x64 Server","distribution":"Fedora"},{"id":1618,"name":"Fedor[...]
