---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/images?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"788ce4ecc8c792332d25e9bf2c6cb063"'
    body:
      encoding: UTF-8
      string: '{"status":"OK","images":[{"id":109578,"name":"test","distribution":"Ubuntu"},{"id":1607,"name":"Gentoo
        x64","distribution":"Gentoo"},{"id":13632,"name":"Open Suse 12.1 x32","distribution":"openSUSE"},{"id":13863,"name":"Open
        Suse 12.2 X64","distribution":"openSUSE"},{"id":18414,"name":"Arch Linux 2012-09
        x64","distribution":"Arch Linux"},{"id":23593,"name":"Arch Linux 2012-09 x64","distribution":"Arch
        Linux"},{"id":63749,"name":"Gentoo 2013-1 x64","distribution":"Gentoo"},{"id":1601,"name":"CentOS
        5.8 x64","distribution":[...]
