---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/images/0?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - '"2e7ec6c1e4a03895b00aa3a340b5637e"'
    body:
      encoding: UTF-8
      string: '{"status":"ERROR","error_message":"No Image Found"}'
  recorded_at: Thu, 28 Mar 2013 08:22:37 GMT
recorded_with: VCR 2.4.0
