---
http_interactions:
- request:
    method: get
    uri: https://api.digitalocean.com/regions?api_key=<API_KEY>&client_id=<CLIENT_ID>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - '200'
      Etag:
      - ! '"6f472d2a870e01c5f53d1892d1d463d8"'
    body:
      encoding: US-ASCII
      string: ! '{"status":"OK","regions":[{"id":1,"name":"New York 1"},{"id":2,"name":"Amsterdam
        1"}]}'
  recorded_at: Sun, 03 Mar 2013 00:56:08 GMT
recorded_with: VCR 2.4.0
